<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Page1</title>
    </head>
    <body>
        <h1>Hello</h1>
        <form action="/page1/next" method="post">
            <p>idinformation :<input type="text" name="idinformation"></p>
            <p>firstname: <input type="text" name="firstname"></p>
            <input type="submit"  value="envoyeeez">
        </form>

        <form action="/page2" méthod="get">
            <input type="submit" value="Page2">

        </form>

       

    
    </body>
</html>