<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Page2</title>
    </head>
    <body>

  
    </br>
</br>
        <table>
        <tr>
            <td>Id</td>
            <td>Nom</td>

        </tr>
        <% for(let i=0; i< listuser.length;i++){%>
       <%=listuser[i].idformation%>
       <%=listuser[i].firstname%>
    
        <%}%>
        
    

    </table>    
    </body>
</html>